/* @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/inknut-antiqua");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/painting-with-chocolate');

body {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  background-color: #f3f3f3;
  font-size: 13px;
}

.secondary-font {
  font-family: "Inknut Antiqua", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

.western-font {
  font-family: 'Painting With Chocolate', sans-serif;                                             
  font-style: normal;
  font-optical-sizing: auto;
}

.input-style {
  @apply w-full px-3 py-2 border border-gray-300 rounded-md focus:ring focus:ring-indigo-200 focus:border-indigo-400;
}
